# Logs
logs
*.log
npm-debug.log*

# Node.js
frontend/node_modules/
frontend/package-lock.json

# Userdata
backend/userdata/*.json

# Python
__pycache__
backend/venv
*.pyc

# macOs
.DS_Store

# Distribution build
dist/*
# (?) should this really be ignored? since useful for final build...

